/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

.top-container{
  display: flex;
}

.main-container {
  background-color: #f9f9f9;
  width: 70%;
  text-align: center;
}

.side-container {
  background-color:rgb(197, 192, 192);
  width: 30%;
  height: auto;
  text-align: center;
}

.image_tree {
  width: 50%;
}

.side-container-btn {
  text-align: center;
}

.side-container-btn button {
  margin: 20px;
  width: 100px;
  height: 50px;
}

.side-container-qualifications {
  display: flex;
  flex-direction: column;
  text-align: center;
  border-color: #020202;
}

ul {
  list-style-type: none;
}